<h1><%= @department.name %></h1>

<h2>Administrators</h2>
<ul>
  <li><%= link_to(
    'Add an administrator',
    new_institution_institutional_unit_department_administrator_path(
      institution_slug: @department.institution.slug,
      institutional_unit_slug: @department.institutional_unit.slug,
      department_slug: @department.slug
    )
  )%></li>
</ul>
