<h1>Update <%= @administrator.job_title %></h1>

<%= render(
  partial: 'shared/administrators/form',
  locals: {
    record: [@institution, @institutional_unit, @department, @administrator],
    admin_assistant: @administrator.administrative_assistant
  }
)%>
