<h1>Add an Administrator</h1>
<%= form_for [@institution, @institutional_unit, @department, @administrator] do |f| %>
  <%= render 'shared/administrators/fields', f: f %>
  <%= f.submit 'Create administrator' %>
<% end %>
