<h1>Add an Administrator</h1>

<%= render(
  partial: 'shared/administrators/form',
  locals: {
    record: [@institution, @institutional_unit, @administrator],
    admin_assistant: @administrator.administrative_assistant
  }
)%>
